.cover-img{
    filter: brightness(50%);
}
.enroll{
    color: red;
}

.icon_color{
   color: gold;
   font-size: 1.5rem;
}
.zero_icon{
    color: gold;
    font-size: 1.5rem;
}
.social_icon{
    font-size: 2rem;
    color: aliceblue;
}

/* mobile responsive */
@media only screen and (max-width:576px)  {
    .company{
        display: none;
    }
}
@media only screen and (min-width:576px) and (max-width: 767px)  {
    .company{
        display: none;
    }
}
/* tab responsive */
@media only screen and (min-width: 768px) and (max-width: 992px)  {
    .company{
        display: none;
    }
}